# MacOS
.DS_Store

*.sqlite3*

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Environments
.env*
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

.cache/
/tmp
/static
src/neuron_server/static/artifacts/
*.bsp
*.dat

/docs
/neo4j
node_modules/
coverage/
.coverage
.testmondata

# Secrets
secrets/

**/.claude/settings.local.json
tsconfig.app.tsbuildinfo
tsconfig.node.tsbuildinfo

# mpy
.mypy_cache/

# MCPs
.mcp.local.json
